html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    background-color: #151515;
    color: #fff;
}

a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    z-index: 999;
    background-color: #38382a;
}

.nav{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a img{
    width: 100px;
}

.header__list{
    display: flex;
    gap: 20px;
}

.header__list-item{
    font-size: 14px;
    transition: all .5s;
}

.burger-label{
    display: none;
}

#burger-toggle{
    display: none;
}

@media(max-width: 784px){
    .burger-label{
        position: absolute;
        display: block;
        height: 25px;
        width: 30px;
        right: 0;
    }

    .burger-label::after,
    .burger-label::before,
    .burger-label span{
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: all .5s;
    }

    .burger-label::before{
        content: '';
        top: 0;
    }

    .burger-label::after{
        content: '';
        bottom: 0;
    }

    .burger-label span{
        top: 11px;
    }

    #burger-toggle:checked ~ .burger-label::before{
        transform: rotate(45deg);
        top: 12px;
    }

    #burger-toggle:checked ~ .burger-label::after{
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger-toggle:checked ~ .burger-label span{
        transform: rotate(45deg);
        top: 12px;
    }

    .header__list{
        position: fixed;
        left: 0;
        right: 0;
        background-color: #151515;
        padding-top: 300px;
        z-index: -1;
        flex-direction: column;
        text-align: center;
        font-size: 12px;

        left: -100vw;
        right: 100vw;

        transition: all .5s;
    }

    #burger-toggle:checked ~ .header__list{
        left: 0;
        right: 0;
    }
}